:root {
  --text-color: #333;
  --text-color-placeholder: #888;
  --field-background: #fff;
  --border-color: #ccc;
  --focus-ring-color: #675bc8;
  --highlight-background: #f0f0f0;
  --highlight-foreground: #675bc8;
  --trigger-width: 300px;
}

.reactAriaSelect {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  /* width: fit-content; */
  height: 40px;
}
.inputWrapper:focus{
  border-color: #675bc8;
  box-shadow: 0 0 4px #675bc8;
}

.label{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #000;
  text-align: left;
  display: flex;
}

.reactAriaButton {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-size: 1.072rem;
  padding: 0.286rem 0.286rem 0.286rem 0.571rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  background-color: var(--field-background);
  border: 1px solid var(--border-color);
  width: 100%;
  cursor: pointer;
}

@media (max-width: 440px) {

  .reactAriaButton{
    font-size: 14px;
  }
}

.reactAriaButton[data-focus-visible] {
  outline: 2px solid var(--focus-ring-color);
  outline-offset: -1px;
}

.reactAriaSelectValue[data-placeholder] {
  /* font-style: italic; */
  color: var(--text-color-placeholder);
}

.dropdownIcon {
  width: 1.5rem;
  line-height: 1.375rem;
  /* margin-left: 1rem; */
  padding: 1px;
  background: var(--highlight-background);
  color: var(--highlight-foreground);
  /* forced-color-adjust: none; */
  border-radius: 4px;
  font-size: 0.857rem;
}

@media (max-width: 440px) {

  .dropdownIcon{
    width: 1rem;
    line-height: 1rem;
    font-size: 0.6rem;
  }
}

.reactAriaPopover[data-trigger='Select'] {
  min-width: var(--trigger-width);
  position: absolute;
  z-index: 1;
  background-color: var(--field-background);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* padding: 0.75rem; */
}

.reactAriaListBox {
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.reactAriaListBoxItem {
  padding: 0.286rem 0.571rem 0.286rem 1.571rem;
  cursor: pointer;
  position: relative;
}

.reactAriaListBoxItem[data-focus-visible] {
  outline: none;
}

.reactAriaListBoxItem[data-selected] {
  font-weight: 600;
  color: var(--text-color);
}

.reactAriaListBoxItem[data-focused],
.reactAriaListBoxItem[data-pressed] {
  background: var(--highlight-background);
  color: var(--highlight-foreground);
}