/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* CSS Variables */
:root {
    --ubuntu-font: "Ubuntu", sans-serif;

    --bg: rgb(255, 255, 255);
    --bg2: rgb(0, 0, 0);
    --text: rgb(15, 15, 15);
    --text2: rgb(240, 240, 240);
    --primary: rgb(22, 210, 247);

    --base_purple:#675bc8;
    --black:#0c0c0c;
    --white:#ffffff;
    --lite_purple:#b9b3e5;
    --Gray4DFDFDF:#dfdfdf;
    --Primary400:#9990da;
    --Secondary100:#b3f4e8;
    --Purple50:#eae8f7;
    --dark_purple:#2e256f;
    --active_field:#477eff;
    --error:#dc3545;
    --Gray1:#aaaaaa;
    --Black2:#333333;
    --Gray2:#bbbbbb;
    --Gray4:#e1e1e1;
    --picturelite:#ead2ef;
    --picturebase:#ba68c8;
    --vectorgrey:#606060;
    --Gray5:#cbcbcb;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;

    --header-height: 72px;

    --sm: 37.5em;
    --md: 48em;
    --lg: 64em;
    --xl: 75em;

    --font-thin: 100;
    --font-extra-light: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-ultra-bold: 900;
}

.landing {
    height: 100%;
    background: transparent;
    position: relative;
    color: var(--dark_purple);
    /* position: fixed; */ 
    /* z-index: 1000; */
    width: 100%;
}

.landing__container {
    /* max-width: 1920px; */
    /* width: 100vw; */
    margin: 0 auto;
    padding: 0 var(--spacing-md);
    transition: 0.3s ease padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    flex:1;
    /* position: relative; */
    height: 100%;
}

.text_button__container {
    display: flex;
    flex-direction: column;
    color: var(--base_purple);
    font-size: 80px;
    font-weight: var(--font-bold);
    text-align: center;
    width: 100%;
    max-width: 560px;
}

.button__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--spacing-lg);
    flex-wrap: wrap;
    font-size: 16px;
    gap: 16px;
    /* justify-content: space-between; */
}

.image__container {
    /* display: block; */
    /* width: 100%; */
    /* height: auto; */
    z-index: -1;
    position: absolute;
    right: 30px;
}

.icon {
    margin-right: 8px;
}

.image{
    width: 100%;
    height: auto;
}

.text__container {

}

@media (max-width: 768px) {
    .text_button__container {
        font-size: 48px;
        background-color: #ffffff40;
        padding-bottom: 10px;
    }

    .image__container{

        position: absolute;
    }
}

@media (max-width: 400px) {
    .landing__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image__container{

        position: absolute;
    }
    .button__container{
        flex-direction: row;
    }
    .text_button__container {
        font-size: 42px;
        background: linear-gradient(
    rgba(255, 255, 255, 0.7), /* центр */
    rgba(255, 255, 255, 0.2) /* краї */
  );
    }
}


