/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* CSS Variables */
:root {
    --ubuntu-font: "Ubuntu", sans-serif;

    --bg: rgb(255, 255, 255);
    --bg2: rgb(0, 0, 0);
    --text: rgb(15, 15, 15);
    --text2: rgb(240, 240, 240);
    --primary: rgb(22, 210, 247);

    --base_purple:#675bc8;
    --black:#0c0c0c;
    --white:#ffffff;
    --lite_purple:#b9b3e5;
    --purple-props: #EAE8F7;
    --Gray4DFDFDF:#dfdfdf;
    --Primary400:#9990da;
    --Secondary100:#b3f4e8;
    --Purple50:#eae8f7;
    --dark_purple:#2e256f;
    --active_field:#477eff;
    --error:#dc3545;
    --Gray1:#aaaaaa;
    --Black2:#333333;
    --Gray2:#bbbbbb;
    --Gray4:#e1e1e1;
    --picturelite:#ead2ef;
    --picturebase:#ba68c8;
    --vectorgrey:#606060;
    --Gray5:#cbcbcb;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;

    --header-height: 72px;

    --sm: 37.5em;
    --md: 48em;
    --lg: 64em;
    --xl: 75em;

    --font-thin: 100;
    --font-extra-light: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-ultra-bold: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    flex-wrap: wrap;
    width: 100%;
    border-style: solid;
    border-color: var(--Gray1);
    border-width: 1px;
    border-radius: 8px;
    gap: 8px;

    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.1s ease;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    padding: 16px;
    gap: 8px
}

.properties{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.prop_container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: var(--font-normal);
}

.prop {
    color: var(--dark_purple);
    background-color: var(--purple-props);
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.img {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
    margin-top: 16px;
}

.image_container {
    width: 80%;
}

.name {
    display: flex;
    font-size: 24px;
    color: var(--dark_purple);
}

.main:hover {
    transform: scale(1.05);
}