.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 100%;
}

.label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #000;
  text-align: left;
}

.input,
.textarea {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #555;
  background-color: white;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  resize: none; /* Prevent default resizing for textarea */
  height: 40px;
}

.input::placeholder,
.textarea::placeholder {
  color: #bbb;
}

.input:focus,
.textarea:focus {
  border-color: #675bc8;
  box-shadow: 0 0 4px #675bc8;
}

.textarea {
  min-height: 100px; /* Minimum height for message field */
  height: 100%; /* Adjust height to fill the container if necessary */
  max-height: 300px; /* Optional: Limit the max height */
  line-height: 1.5;
  overflow: auto; /* Handle scrolling for long text */
}

@media (max-width: 600px) {
  .label {
    font-size: 16px;
  }

  .input,
  .textarea {
    font-size: 14px;
    padding: 10px 14px;
  }
}
